<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
  <a class="navbar-brand" href="#">EMPRESAS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
     <% if user_signed_in? %>
      <li><a href="#" class="nav-link"><%=current_user.email %></a></li>
      <li><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
    <% else %>
      <li><%= link_to 'Inicia sesión', new_user_session_path, class: 'nav-link' %></li>
      <li><%= link_to 'Regístrate', new_user_registration_path, class: 'nav-link' %></li>
    <% end %>
    </ul>
  </div>
</nav>