<h1>Ingresa nueva empresa</h1>

<%= render 'form', company: @company  %>

<h3>Lista de empresas</h3>

<table>
   <thead>
       <tr>
           <th>Name</th>
           <th colspan="3"></th>
       </tr>
   </thead>

   <tbody id = "companies">
       <%= render @companies %>
   </tbody>
</table>

<br>


