$('body').prepend('<%= j render 'claim_modal', company: @company %>')
$('.modal-body2').html('<h3><%= @company.name %></h3> <%= j render "claim_form", company: @company, claim: Claim.new %>')
$('#myModal2').modal()